[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
build = "*"
twine = "*"
beautifulsoup4 = "*"
boto3 = "*"
botocore = "*"
lxml = "*"
pillow = "*"
reportlab = "*"
requests = "*"
pdfkit = "*"
cryptography = "*"
psutil = "*"
tqdm = "*"

[dev-packages]
pipreqs = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
